<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  mode="side">
  <mat-nav-list>
    <a mat-list-item routerLink="/" aria-label="Página inicial">Início</a>
    <a mat-list-item routerLink="/plans" aria-label="Nossos planos">Planos</a>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="topbar-row">
      <button
      type="button"
      aria-label="Menu lateral"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Abrir/Fechar Menu">menu</mat-icon>
    </button>
    <span class="logo"></span>
    <span class="menu-spacer"></span>
    <a mat-list-item routerLink="/" class="menu-item"
    *ngIf="!(isHandset$ | async)" aria-label="Página inicial">Início</a>
    <a mat-list-item routerLink="/plans" class="menu-item"
    *ngIf="!(isHandset$ | async)" aria-label="Nossos planos">Planos</a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
</mat-sidenav-content>
</mat-sidenav-container>
