<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h6 class="title">Nossos planos</h6>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6">
    <plan-filter ></plan-filter>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>FALE MAIS</mat-card-title>
        <mat-card-subtitle>80 MINUTOS</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            FaleMais 30 <span class="plan-value">$37,40</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            FaleMais 60 <span class="plan-value">$27,40</span>
          </mat-list-item>
          <mat-list-item role="listitem" class="recommended-plan">
            FaleMais 120 <span class="plan-value">$0,00</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>
</div>

