/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h6 {
  font-size: 22px;
}

:focus {outline:0 !important;}

.logo {
  width: 140px;
  height: 25px;
  background: url(./assets/logo-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
